* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   background-color: #ededed;
}

.App {
   width: 100%;
   height: 100vh;

}

.home{
   text-align: center;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.form{
   margin-top: 1rem;
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

.form input{
   padding: 0 5px;
   border: 8px;
}

.form input:focus{
   outline: 0;
}

.btn{
   display: flex;
   align-items: center;

  width: fit-content;
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  background-color: none;
  cursor: pointer;
}

.btn-seach{
   background-color: #333;
   color: white;
}
.page-profile{
   width: 100%;
   height: 100vh;

   display: flex;

   overflow: hidden;
   
}
aside{
   width: 300px;
   /* height: 100vh; */
   background-color: #333;
   color: white;
   padding: 10px 15px;
}
.img-profile {
   width: 150px;
}

aside  p{
   font-size: 15px;
}

aside .card-follwer{
   display: flex;
   flex-direction: row;
   gap: 1rem;

   margin-block: 1rem;
}
aside a {
   font-size: 15px;
   color: white;
   text-decoration: none;

}

.card-social-links{

   height: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   margin-top: 0.5rem;
   padding: 3px 5px;
   border: 1px solid #ededed;
   border-radius: 8px;
   cursor: pointer;
}

.card-social-links:hover{
   background-color: black;
}
section{
   height: 100%;
   width: 100%;

   padding: 30px;

   overflow: auto;
   
}